/*

Description: 
This is just a one page website. 
Main navigation works with waypoints through 
different sections. The section "Projects" 
has links to static pages 

Author: Stefano Trento

*/

/*==================================================
=            info regarding style                  =

color palette: #000000 text  #ffffff background;
font: Titillium Web;


/*==================================================
=            GENERAL AND BODY CSS                  =
==================================================*/

html {
  position: relative;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden !important;
}

body {
  position: relative;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  font-weight: 400;
  background-color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  text-align: left;
  font-size: 1.5em;
  padding:0;
  margin:0;
  overflow-x: hidden !important;
}

/* common styling for each section */
section {
  min-height: 100vh;
  width: 100vw;
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}

/* centered columns styles */
.row-centered {
  text-align:center;
}

.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:center;
  /* inline-block space fix */
  margin-right:-4px;
}

/*==================================================
=           NAVIGATION BAR                         =
==================================================*/

.navbar { margin-bottom: 0px; text-transform: lowercase; width: 100%; border-style: none; max-width: 1920px; margin-left: auto; margin-right: auto; }

.navbar-single-page { margin-bottom: 0px; text-transform: lowercase; width: 100%; border-style: none; max-width: 1920px; margin-left: auto; margin-right: auto}

.navbar-inverse { padding-bottom: 8px; padding-top: 8px; background-color: #ffffff; border-style: none;}

/*color of nav */
.navbar-inverse .navbar-nav > li > a { color: black; font-weight: 700}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover { color: black; font-weight: 700}

.navbar-inverse .navbar-toggle { border-style: none; color:black;}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover { background-color: transparent; color: black; }

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {background: none; border-bottom: 5px solid black;}
.navbar-header .navbar-brand { margin-left: 0px; /* firefox bug fix */ padding: 0px }

/* in order to make clickable the svg logo you need 
to make the pointer-events to the "none" value */
.navbar-brand img{
  pointer-events: none;
  margin-left: 10px;
  width:50px; 
  height:50px;
  padding: 4px 4px 4px 4px; 
}
/*==================================================
=           MOBILE MENU                            =
==================================================*/

/* Please Bm transparent background */
.navbar-toggle {
  background: transparent !important;
}

.navbar-toggle:hover {
  background: transparent !important;
}

/*  General styling for the bars of the Bm*/
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
  background-color: black !important;
}

/* animation of the toggle menu from 3 lines to X */
/* compatible with almost all browsers */
.navbar-toggle .top-bar {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -ms-transform-origin: 10% 10%;
  -webkit-transform-origin: 10% 10%;
  -moz-transform-origin: 10% 10%;
  -o-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}

.navbar-toggle .middle-bar {
  opacity: 0;
}

.navbar-toggle .bottom-bar {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -ms-transform-origin: 10% 90%;
  -webkit-transform-origin: 10% 90%;
  -moz-transform-origin: 10% 90%;
  -o-transform-origin: 10% 90%;
  transform-origin: 10% 90%;	
}
.navbar-toggle.collapsed .top-bar {
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}

.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}

.navbar-toggle:focus {
  outline: none;
}

/*==================================================
=           TITLES AND PARAGRAPHS                  =
==================================================*/


/* Font weight is low to give a more lighter look to the font */
h1, h2, h3, h4, h5, h6 { color: #000000; font-weight: 700; line-height: 1.3em; }

/* Main titles H1 are the biggest and thickest */
h1 { font-size: 48px; font-weight: 700; }

/* Decreasing font size by 8px */
h2 { font-size: 40px; font-weight: 400;}

h3 { font-size: 34px; font-weight: 400; }

h4 { font-size: 32px; font-weight: 400;}

h5 { font-size: 30px; font-weight: 400;}

h6 { font-size: 28px; font-weight: 400;}

/* Paragraph & Typographic margin: top right bottom left */
p { line-height: 1.5em; margin: 0px 0px 24px 0px; color: black; font-weight: 300;}


/* General Links */
a { color: black; font-weight: 700}

/* General span */
span {
  font-weight: 700;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #444444;
}

a:active {
  text-decoration: none;
}

.year-project {
  padding-left: 10px;
  font-weight: 700;
  font-size: 0.8em;
  color: #000000;
}

/* Heading for each section */
.heading {
  padding-top: 100px;
  text-align: left;
  margin-bottom: 40px;
}

.text-center {
  text-align: center;
}

/* highlight through font weight */
.highlight {
  font-weight: 700;
}

/*==================================================
=          INTRO SECTION                           =
==================================================*/


/* Center Landing page in the middle of the viewport*/

.center {
  text-align: left;
  position: absolute;
  top:54vh;
  left:47vw;
  transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%);
}


/*==================================================
=            US                                    =
==================================================*/

/* about me content container */

.about-us {
  text-align: left;
}


/*==================================================
=           PORTFOLIO // PROJECTS                  =
==================================================*/
/* about me content container */

.img-responsive {
  margin: auto auto;
  width: 50%;
  height: 50%;
}

.box-image {
  position: relative;
  overflow: hidden;
  text-align: center;
  margin: 15px 15px 30px;
}

img.img-responsive:hover {
  -webkit-filter: invert(80%);
  filter: invert(80%);
}



/*==================================================
=           Single Page Project                    =
==================================================*/

/* Title Project. Main Heading */
.title-single-project {
  font-weight: 700;
}

/* Subtitle. Description of the main Keyword Tasks */
.description-skills {
  font-weight: 400;
  color: #555555;
}

/* Sub Heading at the beginning of each paragraph: (like "My Role"); */
.description-heading {
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Collaborators of the project */
.collaborators {
  font-size: 10px;
}

.collaborators a{
  font-weight: 400;
}

/* Paragraph styling */
.description p {
  font-weight: 300;
  font-size: 20px;
}

/* full container  */
#single-portfolio-content {
  padding-top:50px;
}

.clear { clear:both; }

/* container with the description of the project */
.container-description {
  padding-top: 20px;

}

/* videoWrapper for embeding video  */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-project img{
  max-width: 100%;
  overflow: hidden;
  margin: 30px 0px 30px 0px;
}

/* Styling for the arrow for the Carousel  */
.carousel-control.left, .carousel-control.right {
  background-image: none
}

.carousel-indicators li {
  text-indent: 0;
  margin: 0 2px;
  width: 15px;
  height: 15px;
  border: none;
  border-radius: 100%;
  line-height: 20px;
  color: #fff;
  background-color: white;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.carousel-indicators li.active, .carousel-indicators li:hover {
  margin: 0 2px;
  width: 20px;
  height: 20px;
  background-color: black;
}

.fa-arrow-left {
  color: black;
}



/*==================================================
=           contact                               =
==================================================*/

.contact-span {
  font-weight: 700;
}

.content-contact {
  padding-top: 4vw;
  padding-bottom: 1vw;
}

/* padding between social links -- top right bottom left */
.social .fa {
  font-size: 40px;
  padding: 90px 18px 40px 18px;
  color: black;
}

/*==================================================
=           FOOTER                                 =
==================================================*/
/* wrapper 180 PX TO BOTTOM ANC CHECK MOBILE*/
#footer{ 
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  padding-left: 0px;
  bottom: 5vh;
  width: 100%;
}

#footer p {
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
}

.footer-span {
  font-size: 12px;
}

.footer-span .fa{
  font-size: 12px;
}

.social ul{
  padding-top: 5px;
  padding-bottom: 30px;
  list-style: none;
}

.social li a:hover {
  color: #444444;
}

.social {
  text-align: center;
  width:100%;
  opacity: 1;
} 



/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/
/* 
Min-Width: 
Refers to everything greater than or equal to the amount given. 

Max-Width: 
Refers to everything less than or equal to the amount given.

*/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

  /* font size  */
  h1 { font-size: 28px; font-weight: 700; }
  h2 { font-size: 22px; font-weight: 700;}
  /* it is just the word *because* on landing page */
  h3 { font-size: 24px; font-weight: 400;}
  h4 { font-size: 20px; font-weight: 400;}
  p { font-size: 20px; font-weight: 400;}
  p.description { font-size: 20px; font-weight: 400;}

  /* paragraph before social */
  .content-contact p{
    text-align: left;
  }  

  /* size of the mono logo in the landing page */
  #logo-splash {
    height: 200px;
  }

  /* distance from logo to title */
  .breathe h1{
    padding-top: 50px !important;
  }

  .img-responsive {
    margin: auto auto;
    width: 80%;
    height: 80%;
  }

  /* nav bar elements */
  .menu-item{
    opacity: 1;
    font-size: 24px;
    text-align: center;
  }

  .year-project {
  padding-left: 0px;
}

  /* container with the description of the project */
  .container-description {
    padding-top: 10px;
  }

  /* erase the border given by the burger menu */
  .navbar-collapse {
    border-style: none !important;
  }

  .navbar-collapse ul li a {
    border: none !important;
  }

  .carousel-indicators {
    top: 85%;
  }

  .carousel-indicators li {
    top: 90%;
    text-indent: 0;
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 100%;
    line-height: 20px;
    color: #fff;
    background-color: white;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .carousel-indicators li.active, .carousel-indicators li:hover {
    top: 90%;
    width: 10px;
    height: 10px;
    background-color: black;
  }

  .content-contact span{
    font-weight: 700;
  }

  .fa-arrow-left {
    font-size: 20px;
    padding: 20px 18px 40px 18px;
  }

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

  /* font size  */
  h1 { font-size: 24px; }
  h2 { font-size: 18px; } 
  h3 { font-size: 24px; }
  h4 { font-size: 24px; }
  p { font-size: 22px; }
  p.description    h4 { font-size: 24px;}


  .content-contact p{text-align: left;}  

  /* size of the mono logo in the landing page */
  #logo-splash { height: 250px;}
  

  .year-project {
  padding-left: 10px;
}

  /* container with the description of the project */
  .container-description {
    padding-top: 10px;
  }

  .carousel-indicators {
    top: 85%;
  }


  .fa-arrow-left {
    font-size: 20px;
    padding: 30px 18px 40px 18px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  /* font size  */
  h1 { font-size:36px; }
  h2 { font-size: 30px; }
  h3 { font-size: 28px; }
  h4 { font-size: 28px; } 
  p { font-size: 28px; }
  p.description  { font-size: 28px;}

   #logo-splash {padding-top: 0px;}
  .content-contact p{
    text-align: center;
  }  


  /*space between the logo and tilte */ 
  .breathe h1{
    padding-top: 30px !important;
  }

  .navbar-inverse .navbar-nav>.active>a, 
  .navbar-inverse .navbar-nav>.active>a:hover, 
  .navbar-inverse .navbar-nav>.active>a:focus {
    background: none; 
    border-bottom: 5px solid black !important;
  }

  .me-sub-text p{
    padding-top: 100px;
  }

  .box-image {
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 45px 15px 40px 0px;
  }

  .carousel-indicators {
    top: 85%;
  }


  .carousel-indicators li {
    text-indent: 0;
    margin: 0 2px;
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 100%;
    line-height: 20px;
    color: #fff;
    background-color: white;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  .carousel-indicators li.active, .carousel-indicators li:hover {
    margin: 0 2px;
    width: 16px;
    height: 16px;
    background-color: black;
  }

  .fa-arrow-left {
    font-size: 30px;
    padding: 20px 18px 40px 18px;
  }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  /* container with the description of the project */
  .container-description {
    padding-top: 10px;
  }

  /* font size  */
  h1 { font-size:36px; }
  h2 { font-size: 30px; }
  h3 { font-size: 28px; }
  h4 { font-size: 28px; } 
  p { font-size: 28px; }
  p.description  { font-size: 28px;}



  /*space between the logo and tilte */ 
  .breathe h1{
    padding-top: 30px !important;
  }

  .navbar-collapse ul li a:focus {
    background: none; border-bottom: 5px solid black !important; 
  }

  .social .fa {
    font-size: 50px;      
  }

  .fa-arrow-left {
    font-size: 30px;
    padding: 10px 18px 40px 18px;
}


  .carousel-indicators {
    top: 85%;
  }

  .img-responsive {
    margin: auto;
    width: 50%;
    height: 50%;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

  /* font size  */
  h1 { font-size:48px; }
  h2 { font-size: 40px; }
  h3 { font-size: 30px; }
  h4 { font-size: 30px; } 
  p { font-size: 36px; }
  p.description  { font-size: 30px;}

#because-title-xl {
  font-weight: 300;
}
.center {
  text-align: center;

}

.content-contact p{
  text-align: center;
}
  /*space between the logo and tilte */ 
  .breathe h1{
    padding-top: 30px !important;
  }

.fa-arrow-left {
  font-size: 40px;
  padding: 90px 18px 40px 18px;
}


  .discipline-box {
    padding-top: 50px;
  }

  /* container with the description of the project */
  .container-description {
    padding-top: 10px;

  }

  .carousel-indicators {
    top: 90%;
  }

  .description p {
  font-weight: 300;
  font-size: 20px;
}

}